@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

html body {
    font-family: "cwTeXYen", serif;
    font-size: 18px;
    counter-reset: h1ctr;
}

img[alt] {
    max-height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    font-size: 14pt !important;
}

header {
    font-size: 16pt;
    text-align: center;
}

.author {
    text-align: center;
}

/* Header Numbering */
h1::before {
    counter-increment: h1ctr;
    content: counter(h1ctr) ". ";
}

